<div class="row">
	<div class="col-xl-8">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Exclusive Datatable'" [class]="'kt-portlet__head--lg kt-portlet__head--noborder kt-portlet__head--break-sm'">
				<ng-container ktPortletTools>
					<kt-context-menu></kt-context-menu>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body [class]="'kt-portlet__body--fit'">
				<kt-data-table></kt-data-table>
			</kt-portlet-body>
		</kt-portlet>
	</div>
	<div class="col-xl-4">
		<kt-portlet [class]="'kt-portlet--height-fluid'">
			<kt-portlet-header [title]="'Authors Profit'">
				<ng-container ktPortletTools>
					<kt-context-menu2></kt-context-menu2>
				</ng-container>
			</kt-portlet-header>
			<kt-portlet-body>
				<kt-widget4 [data]="widget4_4">
					<ng-template #actionTemplate let-item="item">
						<span class="kt-widget4__number" [ngClass]="item.valueColor">{{item.value}}</span>
					</ng-template>
				</kt-widget4>
			</kt-portlet-body>
		</kt-portlet>
	</div>
</div>
